[submodule "engines/deepear"]
	path = engines/deepear
	url = https://github.com/HKUSTDial/DeepEar.git
[submodule "engines/daily_stock_analysis"]
	path = engines/daily_stock_analysis
	url = https://github.com/ZhuLinsen/daily_stock_analysis.git
[submodule "engines/tradingagents_astock"]
	path = engines/tradingagents_astock
	url = https://github.com/simonlin1212/TradingAgents-astock.git
[submodule "engines/aiagents_stock"]
	path = engines/aiagents_stock
	url = https://github.com/oficcejo/aiagents-stock.git
[submodule "engines/stock_investment_advisor"]
	path = engines/stock_investment_advisor
	url = https://github.com/wind1096471134/stock-investment-advisor.git
